#main {
    display: flex;
    justify-content: center;
    margin-right: 5%;
}

#griddiv {
    float: left;
}

#chessboard {
    border-collapse: collapse;
    height: calc(45vw + 16px);
}

#X0, #X2, #X4, #X6,
#X9, #X11, #X13, #X15,
#X16, #X18, #X20, #X22, 
#X25, #X27, #X29, #X31,
#X32, #X34, #X36, #X38,
#X41, #X43, #X45, #X47,
#X48, #X50, #X52, #X54,
#X57, #X59, #X61, #X63{
    background-color: #eeeed2;
}

#X1, #X3, #X5, #X7,
#X8, #X10, #X12, #X14,
#X17, #X19, #X21, #X23,
#X24, #X26, #X28, #X30,
#X33, #X35, #X37, #X39,
#X40, #X42, #X44, #X46,
#X49, #X51, #X53, #X55,
#X56, #X58, #X60, #X62 {
    background-color: #769656;
}

#griddiv td {
    width: 5vw;
}

#griddiv #coordinate {
    border:white;
    text-align: center;
    font-size: 200%;
    font-family: "Protest Revolution", sans-serif;
}

.B_R {
    background-image: url(imagefile/Chess_rdt60.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.B_N {
    background-image: url(imagefile/Chess_ndt60.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.B_B {
    background-image: url(imagefile/Chess_bdt60.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.B_Q {
    background-image: url(imagefile/Chess_qdt60.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.B_K {
    background-image: url(imagefile/Chess_kdt60.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.B_P {
    background-image: url(imagefile/Chess_pdt60.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.W_R {
    background-image: url(imagefile/Chess_rlt60.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.W_N {
    background-image: url(imagefile/Chess_nlt60.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.W_B {
    background-image: url(imagefile/Chess_blt60.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.W_Q {
    background-image: url(imagefile/Chess_qlt60.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.W_K {
    background-image: url(imagefile/Chess_klt60.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.W_P {
    background-image: url(imagefile/Chess_plt60.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.pos_playable {
    background-image: url(imagefile/grey_dot.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}

#statusdiv {
    background-image: url(imagefile/bgimage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 284px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 2%;
    height: 543px;
    outline: auto;
    margin-left: 70px;
}

@media (max-width: 850px) {
    #main {
        flex-direction: column;
    }
    #griddiv td {
        width: 10vw;
    }
    #chessboard {
        height: calc(90vw + 16px);
    }
    #statusdiv {
        width: 86%;
        height: 40vh;
        margin-left: 50%;
        transform: translate(-50%);
    }
    #whitepiece, #promotechoice {
        justify-self: center;
        width: 80%;
    }
    #blackpiece {
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
    }
    #gamestatus {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #reset {
        position: absolute;
        top: 110%;
    }
}

#statusdiv td {
    width: 40px;
    height: 40px;
}

#gamestatus {
    width: 80%;
    font-weight: bold;
    font-size: 1.5em;
    font-family: "Protest Revolution", sans-serif;
    white-space: pre-line;
    justify-self: center;
    text-align: center;
    align-self: center;
}

#whitepawn {
    background-image: url(imagefile/Chess_plt60.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.W_Ndisplay {
    background-image: url(imagefile/Chess_nlt60.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.W_Bdisplay {
    background-image: url(imagefile/Chess_blt60.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.W_Rdisplay {
    background-image: url(imagefile/Chess_rlt60.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.W_Qdisplay {
    background-image: url(imagefile/Chess_qlt60.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#blackpiece {
    position: absolute;
    bottom: 10px;
}

#blackpawn {
    background-image: url(imagefile/Chess_pdt60.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.B_Ndisplay {
    background-image: url(imagefile/Chess_ndt60.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.B_Bdisplay {
    background-image: url(imagefile/Chess_bdt60.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.B_Rdisplay {
    background-image: url(imagefile/Chess_rdt60.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.B_Qdisplay {
    background-image: url(imagefile/Chess_qdt60.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.count {
    font-family: "Protest Revolution", sans-serif;
    text-align: center;
}

#promotechoice td{
    width: 10vw;
    height: 10vw;
}

#reset {
    background-image: url(imagefile/buttonbg.jpg);
    width: 90%;
    height: 100px;
    font-size: 25px;
    font-family: "Protest Revolution", sans-serif;
    color: white;
    position: absolute;
    left: 50%; /* Move the child to the middle */
    transform: translateX(-50%); /* Center it by shifting half its width */
    bottom: 110px;
}
